In [1]:
import pandas as pd
from numpy import random

In [8]:
index = [dia for dia in range(1,11)]
index

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
meses = ["Mês-"+str(mes) for mes in range(1,11)]
meses

['Mês-1',
 'Mês-2',
 'Mês-3',
 'Mês-4',
 'Mês-5',
 'Mês-6',
 'Mês-7',
 'Mês-8',
 'Mês-9',
 'Mês-10']

In [5]:
temperatura = random.randint(15,45,(10,10))

In [6]:
temperatura

array([[35, 17, 26, 28, 43, 24, 31, 29, 30, 41],
       [40, 21, 42, 28, 15, 24, 28, 27, 36, 21],
       [15, 36, 31, 21, 20, 27, 37, 37, 18, 36],
       [37, 19, 35, 35, 16, 30, 27, 22, 42, 17],
       [23, 19, 37, 16, 28, 43, 38, 35, 22, 21],
       [38, 25, 22, 31, 28, 16, 34, 44, 22, 41],
       [38, 26, 43, 28, 43, 32, 27, 20, 21, 40],
       [20, 33, 40, 43, 25, 18, 24, 35, 17, 19],
       [27, 23, 30, 17, 33, 39, 29, 36, 17, 22],
       [34, 20, 21, 16, 18, 26, 38, 42, 19, 44]])

In [14]:
# Criando um dataframe
df = pd.DataFrame(temperatura, index=index, columns=meses)
df

    Mês-1  Mês-2  Mês-3  Mês-4  Mês-5  Mês-6  Mês-7  Mês-8  Mês-9  Mês-10
1      35     17     26     28     43     24     31     29     30      41
2      40     21     42     28     15     24     28     27     36      21
3      15     36     31     21     20     27     37     37     18      36
4      37     19     35     35     16     30     27     22     42      17
5      23     19     37     16     28     43     38     35     22      21
6      38     25     22     31     28     16     34     44     22      41
7      38     26     43     28     43     32     27     20     21      40
8      20     33     40     43     25     18     24     35     17      19
9      27     23     30     17     33     39     29     36     17      22
10     34     20     21     16     18     26     38     42     19      44

In [18]:
for temp_max in meses:
    print(f" Temperatura máxima no {temp_max} = {df[temp_max].max()}ºC")

 Temperatura máxima no Mês-1 = 40ºC
 Temperatura máxima no Mês-2 = 36ºC
 Temperatura máxima no Mês-3 = 43ºC
 Temperatura máxima no Mês-4 = 43ºC
 Temperatura máxima no Mês-5 = 43ºC
 Temperatura máxima no Mês-6 = 43ºC
 Temperatura máxima no Mês-7 = 38ºC
 Temperatura máxima no Mês-8 = 44ºC
 Temperatura máxima no Mês-9 = 42ºC
 Temperatura máxima no Mês-10 = 44ºC

In [19]:
for temp_max in meses:
    print(f" Temperatura mínima no {temp_max} = {df[temp_max].min()}ºC")

 Temperatura mínima no Mês-1 = 15ºC
 Temperatura mínima no Mês-2 = 17ºC
 Temperatura mínima no Mês-3 = 21ºC
 Temperatura mínima no Mês-4 = 16ºC
 Temperatura mínima no Mês-5 = 15ºC
 Temperatura mínima no Mês-6 = 16ºC
 Temperatura mínima no Mês-7 = 24ºC
 Temperatura mínima no Mês-8 = 20ºC
 Temperatura mínima no Mês-9 = 17ºC
 Temperatura mínima no Mês-10 = 17ºC